---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
<div class="pb-12 mt-5">
    <div class="text-3xl font-bold" style="font-family: 'Raleway', sans-serif;">Linxi Zhao</div>
    <div class="text-l" style="color: #d3d3d3;">lz586 at cornell dot edu</div>

    <div class="py-2 text-lg">
        I am a first-year Ph.D. student in Computer Science at <a href="https://www.cs.cornell.edu/" target="_blank" style="color: #b85f77;">Cornell University</a>, where I specialize in machine learning with a focus on large language models. I am fortunate to be advised by <a href="https://www.cs.cornell.edu/~kilian/" style="color: #b85f77;">Prof. Kilian Weinberger</a> and <a href="https://jenjsun.com/" style="color: #b85f77;">Prof. Jennifer Sun</a>.
        I earned my B.E. from <a href="https://www.xyc.tsinghua.edu.cn/en/index.htm" style="color: #b85f77;">Xinya College</a>, the liberal arts college at <a href="https://www.tsinghua.edu.cn/en/" style="color: #b85f77;">Tsinghua University</a>. During my undergraduate studies, I had the privilege of being mentored by <a href="https://web.cs.ucla.edu/~qgu/" style="color: #b85f77;">Prof. Quanquan Gu</a> at the <a href="https://www.uclaml.org/" style="color: #b85f77;">UCLA Artificial General Intelligence Lab</a> during a summer internship. 
        
        <br><br>
    </div>
</div>

<div class="pb-12 mt-5">
    <div class="text-2xl font-bold" style="font-family: 'Raleway', sans-serif;">Research</div>

    <HorizontalCard
        title="Mitigating Object Hallucination in Large Vision-Language Models via Image-Grounded Guidance"
        img="/hallu.webp"
        desc="Linxi Zhao*, Yihe Deng*, Weitong Zhang, and Quanquan Gu"
        url="https://openreview.net/pdf/cecbc9a56e1108c032e8474cbbe66b24c908b75c.pdf"
    />
    
    <div class="py-2 text-right">
        <p class="text-sm" style="color: #b85f77;">
            <a href="https://openreview.net/pdf/cecbc9a56e1108c032e8474cbbe66b24c908b75c.pdf" target="_blank" class="hover:underline">arXiv</a>
        </p>
    </div>

    <div class="divider my-0"></div>

    <HorizontalCard
        title="A Comprehensive Dataset and Automated Pipeline for Nailfold Capillary Analysis"
        img="/nailfold.webp"
        desc="Linxi Zhao, Jiankai Tang, Dongyu Chen, Xiaohong Liu, Yong Zhou, Yuanchun Shi, Guangyu Wang, Yuntao Wang"
        note="IEEE International Symposium on Biomedical Imaging (ISBI 2024)"
        url="https://arxiv.org/abs/2312.05930"
    />

    <div class="py-2 text-right">
        <p class="text-sm" style="color: #b85f77;">
            <a href="https://arxiv.org/abs/2312.05930" target="_blank" class="hover:underline">arXiv</a>
            ，</a>
            <a href="https://github.com/THU-CS-PI-LAB/ANFC-Automated-Nailfold-Capillary.git" target="_blank" class="hover:underline">Git repo</a>
        </p>
    </div>
    <div class="divider my-0"></div>
</div>





<div class="pb-12 mt-5">
    <div class="text-2xl font-bold" style="font-family: 'Raleway', sans-serif;">Awards</div>

    <div class="py-2 text-lg">
        <ul class="list-disc pl-5 space-y-2">
            <li>2024: Excellent Undergraduate Award, Tsinghua University</li>
            <li>2024: Dean's List, Xinya College</li>
            <li>2024: Outstanding Research Award, Xinya College</li>
            <li>2023: Overseas Academic Research Fellowship, Tsinghua University</li>
        </ul>
    </div>
</div>
</BaseLayout>
